
.pagaLanding {
  width: 100%;
  margin: auto;
}

@media (min-width: 1800px) {
  .pagaLanding {
    width: 1600px;
  margin: auto;
  }
  
  
}
@media (min-width: 1600px) {
   
  .demo_form {
    padding: 4rem 2rem 5rem 0rem;
    display: flex;
    flex-direction: column;
    width: 38rem !important;
    height: 36.7rem;
  }
}

.demo_form {
  padding: 4rem 2rem 5rem 0rem;
  display: flex;
  flex-direction: column;
  width: 30.5rem;
  height: 36.7rem;
}



.versatile_img {
  width: 73rem;
  height: 40rem;
  position: relative;
  margin-right: 15rem;
}

.hero_image {
  width: 50rem;
  height: 47rem;
  position: relative;
}

 
.ellipse {
  width: 7.5rem;
  height: 7.5rem;
  position: relative;
  top: 27.5rem;
  left: -10%;
  z-index: -1;
}
.customise_btns {
  border-radius: 1rem;
  border: 0.5px solid white;
  padding: 2px;
  height: 2rem;
  width: 6.7rem;
  font-size: 0.8rem;
  font-family: 'GilroyRegular';
  transition: background-color 0.5s ease-out, color 0.5s ease-in;
}
.Customise_img {
  position: relative;
  width: 35rem;
  height: 28.8rem;
  overflow: hidden;
  animation: fadeIn 5s ease-in;
}

 

.nav_bar{
  width: 100%;
  margin: auto;
  display: flex;
  padding-top: 1rem;
  padding-bottom:1rem ;
}
@media(min-width:1600px) {

  .nav_bar{
    width: 1600px;
    margin: auto;
  }
  
}

.Herosection{
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
}
.Top_heroSection {
  display: flex;
  
  /* margin: 4rem; */
  height: auto;
  gap: 1rem;
margin-top: 4.3rem;

  width: 100%;
  justify-content: space-between;
  
}
 
.text_heroSection {
  position: relative;
  width: 100%;
  top: 5%;
  left: 7.5rem;
}
.p_heroText {
  font-family: "GilroyRegular";
  color: #767676;
  line-height: 1.8rem;
  font-size: 1.1rem;
  margin: 1rem 0;
}

.content_me {
  border: none;
  width: 20rem;
  padding: 1rem;
  outline: none;
  font-size: 1rem;
  font-family: "GilroyRegular";
}
.top_content {
  width: 37.5rem;
   
  height: 33vh;
  top: 28%;
  position: relative;  
}
 

.features {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.feature_title {
  background-color: #FDF2E4;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  font-family: "GilroyRegular";
}
 

.animated_text {
  color: #FF6347;
  position: relative;
  display: inline-block;
  height: 1em; 
  margin-bottom: -0.5rem;
  margin-left: 0.5rem;
  overflow: hidden;
  font-size: 0.9em;
  align-items: center;
  
}
.thankyou_form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  background: white;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 400px;
  text-align: center;
  gap: 1rem;
}

.contact_form {
  position: fixed;
  top: 52%;
  left: 50%;
  gap: 2rem;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: white;
  padding: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact_form.hidden {
  display: none;
}
.close_button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 100;
  color: #898686;
  cursor: pointer;
  line-height: 1;
}

.close_button:hover {
  color: rgb(36, 34, 34);  
}
.input_contact {
  padding:  0.2rem 1rem ;
  border-radius: 5px;
  background-color: #F6F8FA;
  margin-bottom: 1rem;  
  padding-right: 1rem;  
}
.headline {
  font-family: 'GilroyRegular';
  font-size:  3.1rem;  
  line-height: 1.3;  
  position: relative;
  width: 35rem;
}

.box {
  display: inline-block;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  width: 19rem; 
  height: 4rem;  
  margin-left: 10px;
  margin-bottom: -20px;
  padding-bottom: -5px;
  position: relative;
  font-family: "GilroySemiBold";
}

.word {
  opacity: 0;
  font-size: 3.2rem;
  position: absolute;
  animation: showWord 10s  infinite;
}

.word:nth-child(1) {
  animation-delay: 0s;
}

.word:nth-child(2) {
  animation-delay: 2s;
}

.word:nth-child(3) {
  animation-delay: 4s;
}

.word:nth-child(4) {
  animation-delay: 6s;
}

.word:nth-child(5) {
  animation-delay: 8s;
}

@keyframes showWord {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  5%, 10% {
    opacity: 1;
  }
  15% ,20%{
    bottom: 0;
    opacity: 1;   
  }
  25%, 30% {
    bottom: 100%;
    opacity: 0;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}

.hover_container {
  position: relative;
  height: 2rem;
  width: 5rem;
   
  overflow: hidden;
}

.image_default {
  margin-left: -1.4rem;
  /* margin-top: -0.5rem; */
  position: absolute;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
  width: 100%;
}

.image_hover {
  position: absolute;
  opacity: 0;
  transform: scaleX(0);  
  transform-origin: left;  
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  width: 100%;
}

.hover_container:hover .image_default {
  opacity: 0;
}

.hover_container:hover .image_hover {
  opacity: 1;
  transform: scaleX(1);  
}


.marquee_section {
    margin: 3rem 0 7rem 0;
  
  }


  .section_heading {
    width: fit-content;
    margin: auto;
  }
  .heading_stroke {
    height: 2rem;
    position: relative;
    margin: -0.5rem 0 3rem auto;
  }
  .bank_containers{
    background-color:#F1F5FF;
    padding: 3rem;
    width: 41%;
    gap: 1rem;
    height: 25rem;
    border-radius: 2rem;
  
  }
  .inputSection {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0.3rem 0.5rem;
    background-color: white;
    border-radius: 0.8rem;
    align-items: center;
    margin: 1rem 0;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
  }

  .BusinessTypes {
    display: flex;
    align-items: center;
    gap: 1rem;  
    /* padding: 0.5rem 1rem 0.5rem 0;   */
    justify-content: space-between;
    position: relative;
    height: auto;
      
  /* width: 37rem; */
  }
  .business_types {
    display: flex;
    gap: 1rem;
    /* width: 70%; */
    justify-content: space-between;
    margin: 5rem 6rem;
    padding: 1rem 1rem 1rem;
     
     
  }
  
  .BusinessTypes:hover {
    background-color: #F1F5FF;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    /* padding: 0 0.5rem 0 0; */
  }
  
  .imageContainer {
   
    /* width: 6rem;  
    height: 6rem;  */
    position: relative;
    margin-left: 0.5rem;  
  }
  
  .business_title {
    margin: 0 0 0 0;
    font-family: 'GilroySemiBold';
    font-size: 1.35rem;
    line-height: 2rem;
  }
  
  
  .bank_img {
    position: relative;
    height: 23rem;
    width: 30rem;
    top: 2rem;
    left: 0.4rem;
    border-radius: 1.7rem;
    margin-top: 1rem;
  }
 

  .solutionSection {
     
    
    
    position: relative;
    width: 49%;
     gap: 1rem;
   
    
    
}

.solutionSection p {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.solutionSection:hover p {
    opacity: 1;  
}

.solutionSection .dev_img1 {
    transition: transform 0.3s ease-in-out;  
}
.solutionSection .dev_img2 {
  transition: transform 0.3s ease-in-out;  
}

.solutionSection .dev_img1 {
  transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease, left 0.5s ease; 
  
}
.solutionSection .dev_img2 {
  transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease, left 0.5s ease; 
  
}

.solutionSection:hover .dev_img1 {
  transform: translateY(9rem); 
  width: 20rem;                
  height: 30rem;                
  left: 24%;                    
}

.solutionSection:hover .dev_img2{
  transform: translateY(8rem);
  width: 18rem;                
  height: 34rem;                
  left: 26%; 

}
.content_sec {
  margin: -3rem 0 0 0;
  background-color: #E5EEFF;
  border-radius: 2rem;
  overflow: hidden;
  width: 100%;; 
  gap: 1rem;
  height: 30rem;
   
}
.solutionSection:hover .content_sec{
  background-color:#F7F4ED;
  
}
.headSec {
  background-color: #E5EEFF;
  width: 16rem;
  padding: 1rem;
  border-radius: 5rem;
  border: 1.5rem solid white;
  margin-top: 0;
  position: relative;
  left: 22%;
  text-align: center;
}

.solutionSection:hover:hover .headSec{
  background-color: #F8B53C;
  color: #7D2E00;
}






.animation_star1, .animation_star2 {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;  
  transform: translateY(1.5rem); 
  z-index: 1 
}

.animation_star1 {
  bottom: -4.7rem;
  left: 9vw;
}

.animation_star2 {
  bottom: -2.5rem;
  /* left: 74%; */
  left: 30vw;
}

.solutionSection:hover .animation_star1,
.solutionSection:hover .animation_star2 {
  opacity: 1;  
  animation: moveUp 0.5s ease-out forwards;  
}

 
@keyframes moveUp {
  from {
    transform: translateY(2rem);  
  }
  to {
    transform: translateY(0);  
  }
}


.dev_img1 {
  position: relative;
  width: 17rem;
  height: 25rem;
  top: 17%;
  left: 28%;
}
.dev_img2 {
  position: relative;
  width: 13.5rem;
  height: 25rem;
  top: 23%;
  left: 32%;
}
.star1{
  position: absolute;
  width: 1rem;
  left: 0rem;
  height: 1rem;
    z-index: 3px

}
.star2{
  position: relative;
  width: 1rem;
  height: 1rem;
  left: 3rem;

}

  .money_img {
    position: relative;
    height: 23rem;
    width: 30rem;
    top: 0.5rem;
    left: 0.4rem;
    border-radius: 1.7rem;
    margin-top: 1rem;
  }
  
  

  .businessTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2px 1rem;
    gap: 10px;
    background-color: #FDE2C2;
    width: 13rem;
    border-radius: 0.3rem;
  }

  .business_needs {
    /* margin: 10rem 0; */
    display: flex;
    padding: 2rem 1rem 0 4rem;
    margin:4rem 7rem 0 7.5rem;
    background-color: #2B3C45;
    color: #ffff;
    height: 23rem;
    justify-content: space-between;
    border-top-left-radius: 1.5rem;  
    border-top-right-radius: 1.5rem;
  }
  .business_needs2{
    display: flex;
    /* flex-wrap: wrap; */
    margin: 1rem 7rem 5rem 7.5rem;
    /* height: 20rem; */
  position: relative;
  height: 23rem;
     

  }
  .business_text{
    padding: 3rem 2rem;
    color: white;
    font-family: GilroySemiBold;
    font-size: 1.2rem;
    line-height: 1.8rem;
     
  

     
  }
  .business_text_online{
    padding: 1.2rem 2rem;
    color: white;
    line-height: 1.8rem;
    font-family: GilroySemiBold;
    font-size: 1.2rem;
  

     
  }
  .bt_ele {
    background-color: #0091F0;
  background: linear-gradient(to bottom right, #0091F0 10%, #00538A 130%);
  /* box-shadow: inset -10px 0px 20px rgba(0, 0, 0, 0.3);   */
    position: relative;
    z-index: 0;
    height: 18rem;
    width: 43%;
    border-bottom-left-radius: 1.4rem;
}


.bt_ele2 {
  background: linear-gradient(to bottom right, #5AC098 10%, #2A5A47 130%);
  position: relative;
  z-index: 0;
  height: 18rem;
  width: 43%;
}

  
  .bt_ele3 {
  
   background: linear-gradient(to bottom right, #F7AA62 10%, #ec780b 100%);
    position: relative;
    z-index: 0;
    height: 18rem;
    width: 43%;
  }
  
  .bt_ele4 {
   background: linear-gradient(to bottom right, #FF6A6A 10%, #994040 130%);
  
    position: relative;
    z-index: 0;
    height: 18rem;
    width: 43%;
   
    
    border-bottom-right-radius: 1.7rem;
  }

  .inputs {
    width: 100%;
    
    background-color: #F6F8FA;
    border: none;
    height: 3rem;
    /* padding: 0  0 0 1rem; */
     
     
  }
  .inputs:focus {
    outline: none;
    border: none;
    
  }
  .In {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .input_divs {
    padding: 0.5rem 0.5rem 0.5rem 1rem ;
    border-radius: 0.5rem;
    background-color: #F6F8FA;
    margin-bottom: 1rem;
    padding-right: 2rem;
    transition: background-color 0.5s ease;
  }
  
  .input_divs:focus-within {
    background-color: #ffffff; 
    border: 1px solid #c9e0f8;
    padding: 0.5rem 1rem;
  }
  
  .input_divs:focus-within .inputs {
    background-color: #ffffff;  
    

  }


  .subscribe {
    display: grid;
    justify-content: center;
    z-index: 4;
    width: 89rem;
    
  }
  
  .subscriptionSection {
    position: relative;
    height: auto;  
    margin: 0.4rem 6rem 0 6rem;
    border-top-left-radius: 2.9rem;
    border-top-right-radius: 2.9rem;
    background-color: #1a1a1a;
    overflow: hidden;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

     
    
  }

  .loan_section {
    margin: 10rem 7rem -3rem 7.5rem;
    height: 28rem;
    /* overflow: hidden; */
    display: flex;
    background-color: #F7F4ED;
    justify-content: space-between;
    padding: 1rem 3rem 0 4rem;
    /* gap:rem; */
    border-radius: 2rem;
     

  }


  .Loan_img {
    position: relative;
    height: 28rem;
    width: 42rem;
  }
  
 .card {
  position: relative; 
  width: 50%;
  height: 38rem;
  display: grid;
   
  border-radius: 2rem;
  padding: 2rem 4rem 0 4rem;
  background-color: #f1f5ff;
  overflow: hidden; 
}

.topImage {
  position: relative;  
  width: 14rem;
  height: 13rem;
  top: -10%;
  left: 50%;
  z-index: 1;
  transition: transform 0.3s ease;
  filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.2));
}

.card:hover .topImage {
  transform: translateY(-1rem) translateX(1.5rem);  
}

.otherImage {
  position: absolute;  
  width: 19rem;
  height: 17rem;
  top: calc(100% - 40%);  
  left: 25%;
  z-index: 0;
}
.card2 {
  position: relative; 
  width: 50%;
  height: 38rem;
  display: grid;
   
  border-radius: 2rem;
  padding: 2rem 4rem 0 4rem;
  background-color: #F7F4ED;
  overflow: hidden; 
}
.card2:hover .topImage2 {
  transform: translateY(-1rem) translateX(1.5rem);  
}

.topImage2 {
  position: relative;  
  width: 20rem;
  height: 11rem;
  top: -3rem;
  left: 35%;
  z-index: 1;
  transition: transform 0.3s ease;
  filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.2));
}

.card3 {
  position: relative; 
  /* width: 20.2rem; */
  height: 40rem;
  display: grid;
  /* width: 20rem; */
  /* width: 83%; */
  border-radius: 2rem;
  padding: 2rem 2rem 0 2rem;
  background-color: #f1f5ff;
  overflow: hidden; 
}

.topImage3 {
  position: relative;  
  width: 12rem;
  height: 11.5rem;
  left: 8rem;
  top: 0.5rem;
  z-index: 1;
  transition: transform 0.3s ease;
  filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.2));
}

.card3:hover .topImage3 {
  transform: translateY(-1.5rem) translateX(0.5rem);  
}

.otherImage3 {
  position: absolute;  
  width: 18rem;
  height: 18rem;
  top: calc(100% - 16.8rem);  
  left: 12%;
  
}


.card4 {
  position: relative; 
  /* width: 20.2rem; */
  height: 40rem;
  display: grid;
  /* width: 20rem; */
  /* width: 83%; */
  border-radius: 2rem;
  padding: 2rem 2rem 0 2rem;
  background-color: #F7F4ED;
  overflow: hidden; 
}

.topImage4 {
  position: relative;  
  width: 12rem;
  height: 11.5rem;
  top: -2rem;
  left: 6rem;
  z-index: 1;
  transition: transform 0.3s ease;
}

.card4:hover .topImage4 {
  transform: translateY(-1.5rem) translateX(0.5rem);  
}

.otherImage4 {
  position: absolute;  
  width: 18rem;
  height: 18rem;
  top: calc(100% - 16.8rem);  
  left: 12%;
  z-index: 0;
}


.card5 {
  position: relative; 
  /* width:  20.2rem; */
  height: 40rem;
  display: grid;
  /* width: 83%; */
  border-radius: 2rem;
  padding: 2rem 2rem 0 2rem;
  background-color: #f1f5ff;
  overflow: hidden; 
}

.topImage5 {
  position: relative;  
  width: 12rem;
  height: 12rem;
  left: 40%;
  z-index: 1;
  transition: transform 0.3s ease;
  filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.2));
}

.card5:hover .topImage5 {
  transform: translateY(-1.5rem) translateX(0.5rem);  
}
.otherImage5 {
  position: absolute;  
  width: 15rem;
  height: 15rem;
  top: calc(100% - 15rem);  
  left: 19%;
  z-index: 0;
}


.queries_img {
  position: relative;
  width: 28rem;
  height: 44rem;
}
.Questions_sec {
  margin: -0.5rem 2rem;
  width: 49vw;
  height: 90vh;
}


.footerIcon {
  position: relative;
  width: 3rem;
  height: 3rem;
}
.footerIcon:hover {
  width: 3.1rem;
  height: 3.1rem;
}
.footer_Icon{
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 0.4rem;
}
.footer_Icon:hover{
  width: 3.6rem;
  height: 3.6rem;
}

.box_container {
  display: flex;
  gap: 1rem;
   /* height: 33vh; */
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.box_container.animating {
  transform: translateY(50px);
  opacity: 0;
}
.box_container:not(.animating) {
  transform: translateY(0);
  opacity: 1;
}

.Out {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.swiper-pagination-bullet {
  background-color: #ff5722;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0.7;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #4caf50;
  opacity: 1;
  transform: scale(1.2);
}
.formSection {
  display: flex;
  margin: 5rem 0 -1.1rem 0;
  width: 100%;
  gap: 3.8rem;
}


@media only screen and (min-width: 700px) and (max-width:900px) {

.box {
   
  margin-bottom: -15px;
  padding-bottom: -5px;
   
}
 
   
}
@media only screen and (min-width:600px) and (max-width:1000px) {

  .ellipse {
    width: 9rem;
    height: 9rem;
    position: relative;
    top: 27.5rem;
    left: -9%;
    z-index: -1;
  }
  .headline {
    font-family: 'GilroyRegular';
    font-size:  3rem;  
    line-height: 1.3;  
    position: relative;
    width: 35rem;
  }
  
  }


  @media only screen and (min-width: 1500px) and (max-width: 6000px) {

    .animation_star1 {
      bottom: -4.7rem;
      left: 9rem !important;
    }
    
    .animation_star2 {
      bottom: -2.5rem;
      left: 68%;

    }
     
     
     
 }
 
 @media only screen and (min-width: 1600px) and (max-width: 1700px) {

  .animation_star1 {
    left: 8rem !important;
  }
  
  .animation_star2 {
    left: 75%;
  }  
}

@media only screen and (min-width: 1450px) and (max-width:  1800px) {

  .Loan_img {
    position: relative;
    height: 28rem;
    width: 37rem !important;
  }
  .versatile_img {
    width: 80rem !important;
    height: 45rem !important;
    position: relative;
    /* margin-right: 10rem; */
  }
  .animation_star1 {
    left: 9rem !important;
  }
  
  .animation_star2 {
    left: 66%;
  } 
  .Questions_sec {
    margin: 0rem 2rem;
    width: 54vw;
    height: 90vh;
  }
  /* .queries_img {
    position: relative;
    width: 30rem;
    height: 45rem;
  } */
   
}
@media only screen and (min-width: 1800px) and (max-width:  1900px) {

   
  .animation_star1 {
    left: 8rem !important;
  }
  
  .animation_star2 {
    left: 74%;
  } 
  .Loan_img {
    position: relative;
    height: 28rem;
    width: 43.6rem !important;
  }
  .versatile_img {
    width: 69rem !important;
    height: 40rem !important;
    position: relative;
     
  }
  .Questions_sec {
    margin: 0rem 2rem;
    width: 43vw;
    height: 90vh;
  }
  /* .queries_img {
    position: relative;
    width: 35rem;
    height: 44rem;
  } */
   
}
@media only screen and (min-width: 1900px) and (max-width:  2000px) {

   
  .animation_star1 {
    left: 9rem !important;
  }
  
  .animation_star2 {
    left: 66%;
  } 
  .Loan_img {
    position: relative;
    /* height: ; */
    max-height: 28rem;
    width: 38rem !important;
  }
  .versatile_img {
    width: 78rem !important;
    height: 44rem !important;
    position: relative;
     
  }
  .Questions_sec {
    margin: 0rem 2rem;
    width: 45vw;
    height: 90vh;
  }
   
}

@media only screen and (min-width: 2000px) and (max-width:  2500px) {
  .Loan_img {
    position: relative;
    /* height: ; */
    max-height: 28rem;
    width: 38rem !important;
  }
  .Questions_sec {
    margin: 0rem 2rem;
    width: 40vw;
    height: 90vh;
  }
}
@media only screen and (min-width: 2500px) and (max-width:  5000px) {
  .Loan_img {
    position: relative;
    /* height: ; */
    max-height: 28rem;
    width: 38rem !important;
  }
  .Questions_sec {
    margin: 0rem 2rem;
    width: 29.9vw;
    height: 90vh;
  }
}

 