
.pagaLanding {
  width: 100%;
  margin: auto;
}

.nav_bar{
  width: 100%;
  margin: auto;
  display: flex;
  padding-top: 1rem;
  padding-bottom:1rem ;
}
.menuItem {
  display: block;
  padding: 0.5rem 0rem;
  color: #000;
  font-family: "GilroyMedium";
  text-decoration: none;
  font-size: 0.9rem;
  cursor: pointer;
   
  
}
 
.dropdownMenu{
  position: absolute;
  display: flex;
  top: 105%;
  left:40% ;
  gap: 3rem;
  padding: 2rem;
  background-color: #ffff;
  border-radius: 1rem;
  /* opacity: 0; */

}
/* .menuItem:hover + .dropdownMenu {
  opacity: 1;
}

.dropdownMenu div {
  padding: 5px;
} */

.comapnt_title{
   
  font-weight: 400;
  font-family: GilroySemiBold;
  line-height: 2rem;

}
.comapnt_item{
  font-family: GilroyRegular;
  line-height: 2rem;
  text-decoration: none;
  color: #000;
  

}
.dropdownMenu>div a {
  text-decoration: none;  
}
.footerContent_titile>a{
  text-decoration: none; 
}
@media(min-width:1940px) {

  .nav_bar{
    width: 1940px;
    margin: auto;
  }
  
}

@media (min-width: 1940px) {
  .pagaLanding {
    width: 1940px;
  margin: auto;
  } 
}

.hero_image {
  width: 50rem;
  height: 47rem;
  position: relative;
}
.demo_form {
  padding: 0rem 2rem 5rem 0rem;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 35.7rem;
  max-height: 36rem;
}
.heroSection_img_stars {
  height: 2.8rem;
  width: 2.8rem;
  position: relative;
  top: 8.5rem;
  right: 24%;
}
.features_first_section {
  display: flex;
  gap: 1.5rem;
}

.lone_icon,
.Invt_icon {
  position: relative;
  width: 4rem;
  height: 4rem;
}
.billing_card,
.Invt_card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 0.5rem;
}

.billing_card_title,
.Invt_card_title {
  font-family: GilroySemiBold;
  line-height: 2.6rem;
}
        
.billing_card_txt,
.Invt_card_txt {
  font-family: GilroyRegular;
  line-height: 1.6rem;
  margin-top: -0.5rem;
}
.features_second_section {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  margin: 1.5rem 0;
}
.comingSoon {
  background-color: #339B35;
  color: white;
  width: 5.5rem;
  height: 1rem;
  border: 0.5rem solid white;
  border-top: none;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-family: GilroyBold;
  position: relative;
  left: 63%;
  top: -2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
.eStore_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: -8rem;
}
.eStore_logo,
.reports_logo,
.CRM_logo {
  position: relative;
  width: 4rem;
  height: 4rem;
}
.eStore_card_title,
.reports_card_title,
.CRM_card_title {
  font-family: GilroySemiBold;
  line-height: 2rem;
  font-size: 1.6rem;
}
.eStore_card_txt,
.reports_card_txt,
.CRM_card_txt {
  font-family: GilroyRegular;
  line-height: 1.5rem;
  margin-top: -0.8rem;
}
.reports_content,
.CRM_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 0.62rem;
}


.thanks_form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
.thankyou_img {
  position: relative;
  width: 25rem;
  height: 16rem;
}
.thanksForm_content {
  text-align: center;
  padding: 1rem;
}
.thanksForm_title {
  display: flex;
  position: relative;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: GilroySemiBold;
}
.thanksform_text {
  font-family: GilroyRegular;
  color: #767676;
  font-size: 1rem;
  line-height: 1.5rem;
}

.business_content {
  font-family: GilroyRegular;
  color: #767676;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.marquee_container {
  justify-content: center;
  text-align: center;
}
.marquee_title {
  margin: 1rem 0;
  font-family: GilroyMedium;
  font-size: 2.9rem;
}
.marquee_txt {
  font-family: GilroyRegular;
  line-height: 1.6rem;
}
.feature_img_stars {
  height: 2rem;
  width: 2rem;
  position: relative;
  margin: 0 0.5rem;
}

.bank_transaction_section {
  display: flex;
  margin: 0 0rem;
}
.bank_transaction_heder_txt {
  background-color: #ffedd6;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-family: GilroyRegular;
}
.bank_transaction_img_stars {
  height: 2rem;
  width: 2rem;
  position: relative;
  margin: 0.2rem 0 0 0.5rem;
}
.bank_container_logo {
  position: relative;
  height: 4rem;
  width: 4rem;
}
.bank_container_title {
  margin: 2rem 0 1rem 0;
  font-family: GilroySemiBold;
  line-height: 2.6rem;
}
.bank_container_txt {
  font-family: GilroyRegular;
  color: #767676;
  line-height: 1.6;
}
.loan_section_icon {
  position: relative;
  width: 4rem;
  height: 4rem;
}
.loan_section_container {
    margin: 10rem 7rem -3rem 7.5rem;
    height: 28rem;
    /* overflow: hidden; */
    display: flex;
    background-color: #F7F4ED;
    justify-content: space-between;
    padding: 1rem 3rem 0 4rem;
    /* gap:rem; */
    border-radius: 2rem;
     

  }
  .loan_section {
    width: 38rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 3rem 0;
  }
  .loan_section_title {
    font-family: GilroySemiBold;
    line-height: 2.6rem;
  }
  .loan_section_txt {
    font-family: GilroyRegular;
    color: #2b3c45;
    line-height: 1.7;
  }
  .loan_section_img {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .loan_section_playstore {
    position: relative;
    height: 5rem;
    width: 10rem;
  }
  .versatile_section {
    margin: -4rem 7rem 0 7.5rem;
    position: relative;
  }
  .versatile_section_leftContent {
    width: 29vw;
    position: relative;
    bottom: -14rem;
  }
  .versatile_section_title {
    margin: 1rem 0 1rem 0;
    font-family: GilroySemiBold;
    font-size: 3rem;
  }
  .versatile_section_txt {
    font-family: GilroyRegular;
    color: #767676;
    line-height: 1.5;
  }
  .TransactionMockp {
    width: 40rem;
    height: 35.5rem;
    float: right;
    right: -0.8rem;
    position: relative;
    margin-top: -28rem;
  }
       
.versatile_img {
  width: 73rem;
  height: 40rem;
  position: relative;
  margin-right: 15rem;
}

 
.business_journey_section {
  margin: 15rem 0 0 0;
  clear: both;
  height: 45rem;
}
.business_journey_img {
  position: absolute;
  z-index: 2;
  width: 25rem;
  height: 27rem;
  left: 50%;
  transform: translateX(-50%);
}
.business_journey {
  background-color: #0F2531;
  padding: 9rem 0 0 8rem;
  width: 50%;
}
.business_journey_Container {
  width: 20rem;
  position: relative;
  margin: -1rem 0 0 -0.5rem;
}
.business_journey_textContainer {
  color: #FFFFFF;
  width: 25rem;
}
.business_journey_title {
  margin: 1rem 0 1.5rem 0;
  font-family: GilroySemiBold;
  font-size: 2.4rem;
  line-height: 3rem;
}
.business_journey_txt {
  font-family: GilroyRegular;
  line-height: 1.8rem;
  font-size: 1.1rem;
}
.business_journey_playstore {
  position: relative;
  height: 6rem;
  width: 10rem;
  margin-top: 0.6rem;
}

.business_dilemmas_section {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10rem 0 -3rem 0;
}
.business_dilemmas_titile {
  position: relative;
  font-family: GilroySemiBold;
  font-size: 2.5rem;
  line-height: 3.5rem;
  left: 3rem;
}
.business_dilemmas_ImgMessage {
  position: relative;
  width: 7rem;
  margin: 0 0rem;
  left: 4rem;
  bottom: 1rem;
}
.clientsrave_section {
  height: 40rem;
  width: 100%;
  position: relative;
}
.clientsrave_conatiner {
  background-color: #0F2531;
  color: white;
  height: 40rem;
}
.clientsrave_txt_conatiner {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 7rem 10rem 4rem 10rem;
  z-index: 4;
}
.clientsrave_title {
  font-family: GilroySemiBold;
  line-height: 3rem;
  font-size: 2.4rem;
}
.clientsrave_txt {
  font-family: GilroyRegular;
  line-height: 1.7rem;
  word-spacing: 0.2rem;
}
.clientsrave_video_conatiner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clientsrave_video_Img {
  position: relative;
  width: 70rem;
  height: 32rem;
  top: 1rem;
  left: 4%;
  transform: translateX(-5%);
}
.clientsrave_Doroki_Blurred {
  position: relative;
  width: 50rem;
  height: 30rem;
  margin: -49rem 0;
}
.clients_section {
  display: flex;
  margin: 0 0 -2rem 7.5rem;
  align-items: center;
  position: relative;
  gap: 1rem;
}
.clients_section_title {
  font-family: GilroySemiBold;
  font-size: 2.4rem;
}
.clients_img_stars {
  height: 35px;
  width: 35px;
  position: relative;
  left: 0rem;
}
.valued_option_arrow {
  position: relative;
  width: 12rem;
  height: 4rem;
  bottom: 0rem;
  left: 84%;
}
.faq_section {
  margin: 1em 5rem 0rem 7.5rem;
  height: 45rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.Queries_arrow {
  position: relative;
  width: 15rem;
  height: 4rem;
  left: 73%;
  margin-top: -3.5rem;
}

.ellipse {
  width: 7.5rem;
  height: 7.5rem;
  position: relative;
  top: 27.5rem;
  left: -10%;
  z-index: -1;
}
.customise_btns {
  border-radius: 1rem;
  border: 0.5px solid white;
  padding: 2px;
  height: 2rem;
  width: 6.7rem;
  font-size: 0.8rem;
  font-family: 'GilroyRegular';
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease-out, color 0.3s ease-in;
}
.Customise_img {
  position: relative;
  width: 35rem;
  height: 28.8rem;
  overflow: hidden;
  animation: fadeIn 5s ease-in;
}

.imageIn {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.imageOut {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

 

 

.Herosection{
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
}
.Top_heroSection {
  display: flex;
  
  /* margin: 4rem; */
  height: auto;
  gap: 1rem;
margin-top: 4.3rem;

  width: 100%;
  justify-content: space-between;
  
}
 
.text_heroSection {
  position: relative;
  width: 100%;
  top: 5%;
  left: 7.5rem;
}
.p_heroText {
  font-family: "GilroyRegular";
  color: #767676;
  line-height: 1.8rem;
  font-size: 1.1rem;
  margin: 1rem 0;
}

.content_me {
  border: none;
  width: 20rem;
  padding: 1rem;
  outline: none;
  font-size: 1rem;
  font-family: "GilroyRegular";
}
.top_content {
  width: 37.5rem;
   
  height: 33vh;
  top: 28%;
  position: relative;  
}
 

.features {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.feature_title {
  background-color: #FDF2E4;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  font-family: "GilroyRegular";
}
 

.animated_text {
  color: #FF6347;
  position: relative;
  display: inline-block;
  height: 1em; 
  margin-bottom: -0.5rem;
  margin-left: 0.5rem;
  overflow: hidden;
  font-size: 0.9em;
  align-items: center;
  
}
.thankyou_form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  background: white;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 25rem;
  text-align: center;
  gap: 1rem;
}

.contact_form {
  position: fixed;
  top: 52%;
  left: 50%;
  width:68rem ;
  gap: 2rem;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: white;
  padding: 0.9rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact_form.hidden {
  display: none;
}
.close_button {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 100;
  color: #898686;
  cursor: pointer;
  line-height: 1;
}

.close_button:hover {
  color: rgb(36, 34, 34);  
}
.input_contact {
  padding:  0.2rem 1rem ;
  border-radius: 5px;
  background-color: #F6F8FA;
  margin-bottom: 1rem;  
  padding-right: 1rem;  
}
.headline {
  font-family: 'GilroyRegular';
  font-size:  3.1rem;  
  line-height: 1.3;  
  position: relative;
  width: 35rem;
}

.box {
  display: inline-block;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  width: 19rem; 
  height: 4rem;  
  margin-left: 15px;
  margin-bottom: -20px;
  padding-bottom: -5px;
  position: relative;
  font-family: "GilroySemiBold";
}

.word {
  opacity: 0;
  font-size: 3.2rem;
  position: absolute;
  animation: showWord 10s  infinite;
}

.word:nth-child(1) {
  animation-delay: 0s;
}

.word:nth-child(2) {
  animation-delay: 2s;
}

.word:nth-child(3) {
  animation-delay: 4s;
}

.word:nth-child(4) {
  animation-delay: 6s;
}

.word:nth-child(5) {
  animation-delay: 8s;
}

@keyframes showWord {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  5%, 10% {
    opacity: 1;
  }
  15% ,20%{
    bottom: 0;
    opacity: 1;   
  }
  25%, 30% {
    bottom: 100%;
    opacity: 0;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}

 

 

.hover_container {
  position: relative;
  height: 2rem;
  width: 5rem;
  overflow: hidden;
}

.image_default {
  position: absolute;
  margin-left: -1.4rem;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.image_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  mask-image: linear-gradient(to right, black 0%, black 0%);
  -webkit-mask-image: linear-gradient(to right, black 0%, black 0%);
  transition: opacity 2s ease-in, opacity 1s ease-out;

}

.hover_container:hover .image_default {
  opacity: 0;
}

.hover_container:hover .image_hover {
  opacity: 1;
  animation: revealMask 5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes revealMask {
  from {
    mask-image: linear-gradient(to right, black 0%, black 0%);
    -webkit-mask-image: linear-gradient(to right, black 0%, black 0%);
  }
  to {
    mask-image: linear-gradient(to right, black 0%, black 100%);
    -webkit-mask-image: linear-gradient(to right, black 0%, black 100%);
  }
}


.marquee_section {
    margin: 3rem 0 7rem 0;
  
  }


  .section_heading {
    width: fit-content;
    margin: auto;
  }
  .heading_stroke {
    height: 2rem;
    position: relative;
    margin: -0.5rem 0 3rem auto;
  }
  .bank_containers{
    background-color:#F1F5FF;
    padding: 3rem;
    width: 41%;
    gap: 1rem;
    height: 25rem;
    border-radius: 2rem;
  
  }
  .inputSection {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0.3rem 0.5rem;
    background-color: white;
    border-radius: 0.8rem;
    align-items: center;
    margin: 1rem 0;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
  }

  .BusinessTypes {
    display: flex;
    align-items: center;
    gap: 1rem;  
    /* padding: 0.5rem 1rem 0.5rem 0;   */
    justify-content: space-between;
    position: relative;
    height: auto;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  /* width: 37rem; */
  }
  .business_types {
    display: flex;
    gap: 1rem;
    width: 78rem;
    justify-content: space-between;
    margin: 5rem 6rem;
    padding: 1rem 2rem 1rem 1rem;
     
     
  }
  
  .BusinessTypes:hover {
    background-color: #F1F5FF;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    /* padding: 0 0.5rem 0 0; */
     
  }
  
  .imageContainer {
   
    /* width: 6rem;  
    height: 6rem;  */
    position: relative;
    margin-left: 0.5rem;  
  }
  
  .business_title {
    margin: 0 0 0 0;
    font-family: 'GilroySemiBold';
    font-size: 1.35rem;
    line-height: 2rem;
  }
  
  
  .bank_img {
    position: relative;
    height: 23rem;
    width: 30rem;
    top: 2rem;
    left: 0.4rem;
    border-radius: 1.7rem;
    margin-top: 1rem;
  }
 

  .solutionSection {
     
    
    
    position: relative;
    width: 49%;
     gap: 1rem;
   
    
    
}

.solutionSection p {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.solutionSection:hover p {
    opacity: 1;  
}

.solutionSection .dev_img1 {
    transition: transform 0.3s ease-in-out;  
}
.solutionSection .dev_img2 {
  transition: transform 0.3s ease-in-out;  
}

.solutionSection .dev_img1 {
  transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease, left 0.5s ease; 
  
}
.solutionSection .dev_img2 {
  transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease, left 0.5s ease; 
  
}

.solutionSection:hover .dev_img1 {
  transform: translateY(9rem); 
  width: 20rem;                
  height: 30rem;                
  left: 24%;                    
}

.solutionSection:hover .dev_img2{
  transform: translateY(8rem);
  width: 18rem;                
  height: 34rem;                
  left: 26%; 

}
.content_sec {
  margin: -3rem 0 0 0;
  background-color: #E5EEFF;
  border-radius: 2rem;
  overflow: hidden;
  width: 100%;; 
  gap: 1rem;
  height: 30rem;
   
}
.solutionSection:hover .content_sec{
  background-color:#F7F4ED;
  
}
.headSec {
  background-color: #E5EEFF;
  width: 16rem;
  padding: 1rem;
  border-radius: 5rem;
  border: 1.5rem solid white;
  margin-top: 0;
  position: relative;
  left: 22%;
  text-align: center;
}

.solutionSection:hover:hover .headSec{
  background-color: #F8B53C;
  color: #7D2E00;
}






.animation_star1, .animation_star2 {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;  
  transform: translateY(1.5rem); 
  z-index: 1 
}

.animation_star1 {
  bottom: -4.7rem;
  left: 9vw;
}

.animation_star2 {
  bottom: -2.5rem;
  /* left: 74%; */
  left: 30vw;
}

.solutionSection:hover .animation_star1,
.solutionSection:hover .animation_star2 {
  opacity: 1;  
  animation: moveUp 0.5s ease-out forwards;  
}

 
@keyframes moveUp {
  from {
    transform: translateY(2rem);  
  }
  to {
    transform: translateY(0);  
  }
}


.dev_img1 {
  position: relative;
  width: 17rem;
  height: 25rem;
  top: 17%;
  left: 28%;
}
.dev_img2 {
  position: relative;
  width: 13.5rem;
  height: 25rem;
  top: 23%;
  left: 32%;
}
.star1{
  position: absolute;
  width: 1rem;
  left: 0rem;
  height: 1rem;
    z-index: 3px

}
.star2{
  position: relative;
  width: 1rem;
  height: 1rem;
  left: 3rem;

}

  .money_img {
    position: relative;
    height: 23rem;
    width: 30rem;
    top: 0.5rem;
    left: 0.4rem;
    border-radius: 1.7rem;
    margin-top: 1rem;
  }
  
  

  .businessTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2px 1rem;
    gap: 10px;
    background-color: #FDE2C2;
    width: 13rem;
    border-radius: 0.3rem;
  }

  .business_needs {
    /* margin: 10rem 0; */
    display: flex;
    padding: 2rem 1rem 0 4rem;
    margin:4rem 7rem 0 7.5rem;
    background-color: #2B3C45;
    color: #ffff;
    height: 23rem;
    justify-content: space-between;
    border-top-left-radius: 1.5rem;  
    border-top-right-radius: 1.5rem;
  }

  .business_needs_content_section {
    width: 31rem;
    margin: 3rem 0;
    justify-content: center;
    align-items: center;
  }
  .business_needs_title {
    display: flex;
    font-family: GilroySemiBold;
    margin-top: 1rem;
    line-height: 2.5rem;
  }
  .business_needs_stars {
    height: 3.2rem;
    width: 3.2rem;
    position: relative;
    top: 2.2rem;
    right: 6.5rem;
  }
  .business_needs_txt {
    margin: 1rem 0;
    line-height: 29px;
    font-family: GilroyRegular;
  }
  .business_needs_img_playstore {
    position: relative;
    height: 5rem;
    width: 9rem;
  }
  .business_needs_app_img {
    position: relative;
    width: 39rem;
    height: 23rem;
    margin-right: 0.5rem;
  }
       
  .business_needs2{
    display: flex;
    /* flex-wrap: wrap; */
    margin: 1rem 7rem 5rem 7.5rem;
    /* height: 20rem; */
  position: relative;
  height: 23rem;
     

  }

  .bt_img {
    width: 14rem;
    height: 10rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .bt_img_loyalty {
    width: 10rem;
    height: 10rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .business_needs_commingsoon {
    background-color: #339B35;
    color: white;
    width: 5.5rem;
    padding: 0.5rem;
    font-size: 12px;
    font-family: GilroyBold;
    position: relative;
    left: 2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }
    
  .business_text{
    padding: 3rem 2rem;
    color: white;
    font-family: GilroySemiBold;
    font-size: 1.2rem;
    line-height: 1.8rem;
     
  

     
  }
  .demo_form_title_section {
    display: flex;
    position: relative;
    font-size: 1.3rem;
    align-items: center;
  }
  .demo_form_title{
    font-family: GilroySemiBold;
  font-size: 1.9rem;
  }
  .demo_form_img_stars {
    height: 2rem;
    width: 2rem;
    position: relative;
    right: 0;
  }
  .demo_form_txt {
    font-family: GilroyRegular;
    color: #767676;
    line-height: 1.5rem;
  }
  
  
  .business_text_online{
    padding: 1.2rem 2rem;
    color: white;
    line-height: 1.8rem;
    font-family: GilroySemiBold;
    font-size: 1.2rem;
  

     
  }
  .bt_ele {
    background-color: #0091F0;
  background: linear-gradient(to bottom right, #0091F0 10%, #00538A 130%);
  /* box-shadow: inset -10px 0px 20px rgba(0, 0, 0, 0.3);   */
    position: relative;
    z-index: 0;
    height: 18rem;
    width: 43%;
    border-bottom-left-radius: 1.4rem;
}


.bt_ele2 {
  background: linear-gradient(to bottom right, #5AC098 10%, #2A5A47 130%);
  position: relative;
  z-index: 0;
  height: 18rem;
  width: 43%;
}

  
  .bt_ele3 {
  
   background: linear-gradient(to bottom right, #F7AA62 10%, #ec780b 100%);
    position: relative;
    z-index: 0;
    height: 18rem;
    width: 43%;
  }
  
  .bt_ele4 {
   background: linear-gradient(to bottom right, #FF6A6A 10%, #994040 130%);
  
    position: relative;
    z-index: 0;
    height: 18rem;
    width: 43%;
   
    
    border-bottom-right-radius: 1.7rem;
  }

  .inputs {
    width: 100%;
    
    background-color: #F6F8FA;
    border: none;
    height: 3rem;
    padding: 0  0 0 0rem;
    margin-left:0.4rem ;
    font-size: 0.9rem;
    color: #5B5B58;
    font-family: "GilroyRegular";
     
  }
  .inputs:focus {
    outline: none;
    border: none;
    
  }
  .In {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .input_divs {
    padding: 0.5rem 0.5rem 0.5rem 1rem ;
    border-radius: 0.5rem;
    background-color: #F6F8FA;
    margin-bottom: 0.5rem;
    padding-right: 2rem;
    border: none;

    /* width: 100%; */
    /* transition: background-color 0.5s ease; */
  }
  
  .input_divs:focus-within {
    background-color: #ffffff; 
    border: 1px solid #c9e0f8;
    padding: 0.5rem 1rem;
  }
  
  .input_divs:focus-within .inputs {
    background-color: #ffffff;  
    


  }
  .inputs::-webkit-input-placeholder {
    color: #5B5B58;
    font-family: "GilroyRegular";
    font-size: 0.9rem;
    margin-left: -1rem;
  }
  
  .inputs_opts {
    width: 100%;
    background-color: #F6F8FA;
    border: none;
    height: 3rem;
    font-size: 0.9rem;
    font-family: "GilroyRegular";
    color: #5B5B58;
    padding-left: 0.5rem;
    appearance: none;         
    background-image: url("/assets/MobileView/dropArrow.svg");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 0.7rem;
  }
   
  
 
  .input_divs_opts {
    /* padding: 0.5rem 1rem 0.5rem 1rem; */
    border-radius: 0.5rem;
    background-color: #F6F8FA;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    
  }
  .inputs_opts:focus {
    outline: none;
    border: none;
  }
  .input_divs_opts:focus-within .inputs_opts {
    background-color: #ffffff;  
  }
  .input_divs_opts:focus-within {
    background-color: #ffffff; 
    border: 1px solid #DAE4F6;
    /* padding: 0.5rem 1rem; */
  }


  .subscribe_section {
    display: grid;
    justify-content: center;
    z-index: 0;
    width: 88rem;
    /* max-width: 90%; */

    
  }
  .subscribe {
    max-width: 51%;
    margin: 5rem auto auto auto;
    display: grid;
    height: auto;
    align-items: center;
    padding: 2rem;
    text-align: center;
    color: #fff;
  }
  .subscribe_title {
    font-family: GilroySemiBold;
  }
  .subscribe_txt {
    font-family: GilroyRegular;
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
  .subscribe_input {
    width: 96%;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 0;
    margin: 1rem auto;
    z-index: 1;
    outline: none;
    padding-left: 1.5rem;
    height: 1.5rem;
  }
    
  
  .subscriptionSection {
    position: relative;
    height: auto;  
    margin: 1.1rem 6rem 0 6rem;
    border-top-left-radius: 2.9rem;
    border-top-right-radius: 2.9rem;
    background-color: #1a1a1a;
    overflow: hidden;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
  }

  .poweredby {
    z-index: 1;
    color: #cccc;
    font-size: 0.8rem;
    font-family: GilroyRegular;
  }
  .poweredby_logo_section {
    display: flex;
    height: 4rem;
    margin: 0rem 0 0rem 0rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  .footer_paga_logo {
    position: relative;
    width: 4.5rem;
    height: 3.5rem;
  }
  .footer_qb_logo {
    position: relative;
    width: 7.5rem;
    height: 3.5rem;
  }
  .footer_CenterLine {
    border-left: 1px solid #ccc;
    height: 2rem;
    margin: 0 1rem 0 0.6rem;
  }
  .all_rights {
    font-size: 0.8rem;
    color: white;
    font-family: GilroyRegular;
  }
  
   
  .Loan_img {
    position: relative;
    height: 28rem;
    width: 42rem;
  }
  
 .card {
  position: relative; 
  width: 50%;
  height: 38rem;
  display: grid;
   
  border-radius: 2rem;
  padding: 2rem 4rem 0 4rem;
  background-color: #f1f5ff;
  overflow: hidden; 
}

.topImage {
  position: relative;  
  width: 14rem;
  height: 13rem;
  top: -10%;
  left: 50%;
  z-index: 1;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.2));
}

.card:hover .topImage {
  transform: translateY(-0.5rem) translateX(0.5rem); 
  width:15rem;
  height: 14rem; 
}

.otherImage {
  position: absolute;  
  width: 19rem;
  height: 17rem;
  top: calc(100% - 40%);  
  left: 25%;
  z-index: 0;
}
.card2 {
  position: relative; 
  width: 50%;
  height: 38rem;
  display: grid;
   
  border-radius: 2rem;
  padding: 2rem 4rem 0 4rem;
  background-color: #F7F4ED;
  overflow: hidden; 
}
.card2:hover .topImage2 {
  transform: translateY(-0.5rem) translateX(0.4rem);  
  width: 21rem;
  height: 12rem;
}

.topImage2 {
  position: relative;  
  width: 20rem;
  height: 11rem;
  top: -3rem;
  left: 35%;
  z-index: 1;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.2));
}

.card3 {
  position: relative; 
  /* width: 20.2rem; */
  height: 40rem;
  display: grid;
  /* width: 20rem; */
  /* width: 83%; */
  border-radius: 2rem;
  padding: 2rem 2rem 0 2rem;
  background-color: #f1f5ff;
  overflow: hidden; 
}

.topImage3 {
  position: relative;  
  width: 12rem;
  height: 11.5rem;
  left: 38%; 
  z-index: 1;
  transition: transform 0.3s ease, height 0.3s ease, width 0.3s ease;
  filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.2));
  transform-origin: center;  
}

/* .card3:hover .topImage3 {
  transform: translateY(-0.5rem) translateX(0.5rem) scale(1.06);  
} */

.otherImage3 {
  position: absolute;  
  width: 18rem;
  height: 18rem;
  top: calc(100% - 16.8rem);  
  left: 12%;
  
}



.card4 {
  position: relative; 
  /* width: 20.2rem; */
  height: 40rem;
  display: grid;
  /* width: 20rem; */
  /* width: 83%; */
  border-radius: 2rem;
  padding: 2rem 2rem 0 2rem;
  background-color: #F7F4ED;
  overflow: hidden; 
}

.topImage4 {
  position: relative;  
  width: 12rem;
  height: 11.5rem;
  top: -2rem;
  left: 6rem;
  z-index: 1;
  transition: transform 0.3s ease;
}

.card4:hover .topImage4 {
  transform: translateY(-1.5rem) translateX(0.5rem);  
}

.otherImage4 {
  position: absolute;  
  width: 18rem;
  height: 18rem;
  top: calc(100% - 16.8rem);  
  left: 12%;
  z-index: 0;
}


.card5 {
  position: relative; 
  /* width:  20.2rem; */
  height: 40rem;
  display: grid;
  /* width: 83%; */
  border-radius: 2rem;
  padding: 2rem 2rem 0 2rem;
  background-color: #f1f5ff;
  overflow: hidden; 
}

.topImage5 {
  position: relative;  
  width: 12rem;
  height: 12rem;
  left: 40%;
  z-index: 1;
  transition: transform 0.3s ease ,height 0.3s ease, width 0.3s ease;
  filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.1));
}

.card5:hover .topImage5 {
  transform: translateY(-0.5rem) translateX(0.5rem); 
  width:12.5rem; 
  height: 12.5rem;
}
.otherImage5 {
  position: absolute;  
  width: 15rem;
  height: 15rem;
  top: calc(100% - 15rem);  
  left: 19%;
  z-index: 0;
}


.queries_img {
  position: relative;
  width: 28rem;
  height: 44rem;
}
.Questions_sec {
  margin: -0.5rem 2rem;
  width: 49vw;
  height: 90vh;
}


.footerIcon {
  position: relative;
  width: 2rem;
  height: 2rem;
  transition: transform 0.3s ease;
}
.footerIcon:hover {
  transform: scale(1.2);  
  transform-origin: center; 
}
.footer_Icon{
  position: relative;
  width: 2.3rem;
  height: 2.4rem;
  margin-top: 0.3rem;
  transition: transform 0.3s ease;
}
.footer_Icon:hover {
  transform: scale(1.2);  
  transform-origin: center; 
}
.box_container {
  display: flex;
  gap: 1rem;
   /* height: 33vh; */
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.box_container.animating {
  transform: translateY(50px);
  opacity: 0;
}
.box_container:not(.animating) {
  transform: translateY(0);
  opacity: 1;
}

.Out {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.swiper-pagination-bullet {
  background-color: #ff5722;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0.7;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #4caf50;
  opacity: 1;
  transform: scale(1.2);
}
.formSection {
  display: flex;
  margin: 5rem 0 -1.1rem 0;
  width: 100%;
  gap: 3.8rem;
}


.legend {
  visibility: hidden;  
  opacity: 0;  
  /* margin-bottom: -0.5rem;  */
  margin: 0 0 -0.5rem 0rem;  
  font-family:"GilroyMedium";  
  font-size: 0.8rem;  
  color: #5B5B58;
  transform: translateY(10px);  
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease;
}

.inputs:focus + .legend {
  visibility: visible;  
  opacity: 1;    
  transform: translateY(0);  
  padding: 0 0.4rem;
}

.inputs::placeholder {
  transition: opacity 0.2s ease;  
}

.inputs:focus::placeholder {
  opacity: 0;  
}

 

.inputs:focus {
  outline: none;  
}

.footerContent_titile{
  color: #F2931E;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1rem;
  font-family: "GilroySemibold";
  text-align: start;
  text-decoration: none;

}
.footerContent{
  color: #ffff;
  font-family: GilroyRegular;
  font-size: 0.85rem;
  line-height: 1.5rem;
  margin-top: 0.4rem;
  text-align: start;
  cursor: pointer;
  
}

.footer_navigations {
  display: flex;
  justify-content: space-between;
  width: 75%;
  z-index: 1;
  margin-top: 2rem;
}
.footer_navigations>div a{
  text-decoration: none;
}




@media only screen and (min-width: 700px) and (max-width:900px) {

.box {
   
  margin-bottom: -15px;
  padding-bottom: -5px;
   
}
 
   
}
@media only screen and (min-width:900px)  and (max-width:1150px){
  .swiperslide_card {
     
    width: 20.5rem;
    
    
  }
  
}
@media only screen and (min-width:600px) and (max-width:1000px) {

  .ellipse {
    width: 9rem;
    height: 9rem;
    position: relative;
    top: 27.5rem;
    left: -9%;
    z-index: -1;
  }
  .headline {
    font-family: 'GilroyRegular';
    font-size:  3rem;  
    line-height: 1.3;  
    position: relative;
    width: 35rem;
  }
  
  }


  @media only screen and (min-width: 1500px) and (max-width: 6000px) {

    .animation_star1 {
      bottom: -4.7rem;
      left: 9rem !important;
    }
    
    .animation_star2 {
      bottom: -2.5rem;
      left: 68%;

    }
   
     
     
 }
 
 @media only screen and (min-width: 1600px) and (max-width: 1700px) {

  .animation_star1 {
    left: 8rem !important;
  }
  
  .animation_star2 {
    left: 75%;
  }  
  
}

@media only screen and (min-width: 1440px) and (max-width:  1800px) {

  .Loan_img {
    position: relative;
    height: 28rem;
    width: 37rem !important;
  }
  .versatile_img {
    width: 75rem !important;
    height: 42rem !important;
    position: relative;
    /* margin-right: 10rem; */
  }
  .animation_star1 {
    left: 8rem !important;
  }
  
  .animation_star2 {
    left: 72%;
  } 
  .Questions_sec {
    margin: 0rem 2rem;
    width: 54vw;
    height: 90vh;
  }
  /* .queries_img {
    position: relative;
    width: 30rem;
    height: 45rem;
  } */
  .demo_form {
    
    display: flex;
    flex-direction: column;
    width: 33vw;
    height: 36.7rem;
  }
   
   
}
@media only screen and (min-width: 1800px) and (max-width:  1900px) {

   
  .animation_star1 {
    left: 8rem !important;
  }
  
  .animation_star2 {
    left: 74%;
  } 
  .Loan_img {
    position: relative;
    height: 28rem;
    width: 43.6rem !important;
  }
  .versatile_img {
    width: 69rem !important;
    height: 40rem !important;
    position: relative;
     
  }
  .Questions_sec {
    margin: 0rem 2rem;
    width: 43vw;
    height: 90vh;
  }
  /* .queries_img {
    position: relative;
    width: 35rem;
    height: 44rem;
  } */
  .demo_form {
    
    display: flex;
    flex-direction: column;
    width: 32vw;
    height: 36.7rem;
  }
  .Questions_sec {
    
    width: 49vw;
    
  }
   
}
@media only screen and (min-width: 1900px) and (max-width:  2000px) {

   
  .animation_star1 {
    left: 8rem !important;
  }
  
  .animation_star2 {
    left: 27.5rem;
  } 
  .Loan_img {
    position: relative;
    /* height: ; */
    max-height: 28rem;
    width: 38rem !important;
  }
  .versatile_img {
    width: 78rem !important;
    height: 44rem !important;
    position: relative;
     
  }
  .Questions_sec {
    margin: 0rem 2rem;
    width: 45vw;
    height: 90vh;
  }
   
  .demo_form {
    
    display: flex;
    flex-direction: column;
    width: 34vw;
    height: 36.7rem;
  }
  .Questions_sec {
    
    width: 50vw;
    
  }
}

@media only screen and (min-width: 2000px) and (max-width:  2500px) {
  .Loan_img {
    position: relative;
    /* height: ; */
    max-height: 28rem;
    width: 38rem !important;
  }
  .Questions_sec {
    margin: 0rem 2rem;
    width: 40vw;
    height: 90vh;
  }
  .demo_form {
    padding: 2rem 2rem 5rem 0rem;
    display: flex;
    flex-direction: column;
    width: 31vw;
    height: 36.7rem;
  }
  .animation_star1 {
    left: 8rem !important;
  }
  
  .animation_star2 {
    left: 27.5rem;
  } 
  .Questions_sec {
    
    width: 45vw;
    
  }
}
    
@media only screen and (min-width: 2500px) and (max-width:  5000px) {
  .Loan_img {
    position: relative;
    /* height: ; */
    max-height: 28rem;
    width: 38rem !important;
  }
  .Questions_sec {
    margin: 0rem 2rem;
    width: 29.9vw;
    height: 90vh;
  }
  .demo_form {
    padding: 2rem 2rem 5rem 0rem;
    display: flex;
    flex-direction: column;
    width: 23.5vw;
    height: 36.7rem;
  }
  .animation_star1 {
    left: 8rem !important;
  }
  
  .animation_star2 {
    left: 27.5rem;
  } 
  .Questions_sec {
    
    width: 35vw;
    
  }
  
}
.dropdown {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #F6F8FA;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.dropdown_select {
  padding: 1rem;
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
}

.dropdown_list {
  padding: 1rem;
  position: absolute;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.dropdown_list.open {
  visibility: visible;
  opacity: 1;
}

.dropdown_list_item {
  padding: 1rem;
  cursor: pointer;
}

.dropdown_list_item:hover {
  background-color: #f0f0f0;
}
.error{
font-family: "GilroyLight";
font-size: 0.6rem;
margin-top: 0.3rem;
color: red;
position:absolute
}


.swiperslide_card {
  cursor: pointer;
  border-radius: 1rem;
  width: 25.5rem;
  background-color: #F5F8FF;
  
}
