.mainContainer {
     

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
   
    padding: 1.5rem;
    
  
     
  }

.container{
  background-color:  #F5F8FF;
  padding: 4rem 6rem;
}
  .headerText{
    background-color:#FFEDD6 ;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-family: GilroyRegular;
    
  }
  
  .elements {
    text-align: start;
    border-radius: 1.5rem;
    padding: 2rem 2rem 4rem 2rem;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    height: 15rem;
  }
  
  .header{
    display: flex;
    margin: 0 1.5rem;
    

  }

.iconContainer{
  width: 4rem;
  height:4rem;
  margin-bottom: 2rem;
  position: relative
}
.starIcon{
  width: 2rem ;
  position: relative;
  margin-left:"1rem "
  
}

.title{
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-family: GilroySemiBold;
  margin: 1.5rem 0 0.8rem 0;
}
.text{
  font-family: GilroyRegular;
  color: #767676;
  line-height: 1.5rem;
}
  /* -----------------MobileHiddenPowers----------------- */
  .Card_elements {
    position: relative;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    will-change: transform, opacity;
    width: 78%;
    margin: 0 0 0 1.88rem;
  }
  
  .Card_elements.left {
    transform: translateX(100%);  
    opacity: 0;
  }
  
  .Card_elements.visible {
    transform: translateX(0);
    opacity: 1;
  }
  
  .Card_elements.right {
    transform: translateX(-100%);  
    opacity: 0;
  }
  
  